
body{
    /* Layout Properties */

top: 0px;
left: 0px;
width: 1366px;
height: 768px;

/* UI Properties */

background: var(--unnamed-color-3d087b) 0% 0% no-repeat padding-box;
background: #3D087B 0% 0% no-repeat padding-box;
opacity: 1;
}

.main-container1{
    width: 30%;
    margin-left: 124px;
    height: 100vh;
    margin-top: 34px;
    
}
.container1{
    /* Layout Properties */

    top: 34px;
    left: 124px;
    width: 204px;
    height: 77px;

    

    /* UI Properties */

    background: transparent url('clock_logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}
.container2{
   /* Layout Properties */

   display:grid;

    position: relative;
    top: 20px;
    width: 566px;
    height: 363px;

    /* UI Properties */

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}

.grid-item{
    

top: 163px;
left: 149px;
width: 517px;
height: 90px;




opacity: 1;
}
select{
    position:absolute;
    left: 250px;
    width: 300px;
}
label{
    display:inline-block;
    position: relative;
    left: 80px;
}
.pic{
    position: relative;
    top:35px;
    left: 20px;
}
.wake-pic{
    
    width: 34px;
    height: 34px;
    display: inline-block;

    /* UI Properties */

    background: transparent url('wake_up.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.lunch-pic{
    width: 34px;
    height: 34px;
    display: inline-block;


    background: transparent url('lunch_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nap-pic{
    width: 34px;
    height: 34px;

    background: transparent url('nap_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}
.night-pic{
    width: 34px;
    height: 34px;

    background: transparent url('nap_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;

}


.container3{
    
    width: 566px;
    height: 77px;
    position: relative;
    top: 40px;

    /* UI Properties */

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 0.23;
    z-index:-1;
}
.container3-text{
    width: 550px;
    height: 34px;
    padding: 10px;


    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) 27px/34px var(--unnamed-font-family-bauhaus-hv-bt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 900 27px/34px Bauhaus Hv BT;
    letter-spacing: 0px;
    color: #ac0707;
    text-transform: uppercase;
    opacity: 1;
    z-index:1;
}

.container4{
    /* Layout Properties */

    top: 640px;
    left: 124px;
    width: 299px;
    height: 50px;
    position: relative;
    top: 60px;
    left: -0px;

    /* UI Properties */

    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}
.container4:hover{
    background: transparent linear-gradient(113deg, #F1A7C5 0%,#FC5EFF 40%, #CB52F8 81%, #6E54EC 100% ) 0% 0% no-repeat padding-box;
    opacity: 1;
}


#submit_button{
        /* Layout Properties */

    top: 640px;
    left: 124px;
    width: 299px;
    height: 50px;

    /* UI Properties */

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal 600 24px/38px Manrope;
    letter-spacing: 0px;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
#submit_button:hover{
    background: transparent linear-gradient(113deg, #F1A7C5 100%,#FC5EFF 81%, #CB52F8 40%, #6E54EC 0% ) 0% 0% no-repeat padding-box;
    opacity: 1;
}

/*Right main container*/
.clock{
    
    position: absolute;
    top: 42px;
    left: 706px;
    width: 536px;
    height: 130px;



    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}
/*clock content*/
.clock-content{
    position: absolute;
    top: 20px;
    left: 40px;
    width: 458px;
    height: 90px;
    opacity: 1;
    
}
/*Time text inside clock*/
.time-text{
    
    position: relative;
    top: 30px;
    width: 46px;
    height: 26px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 20px/32px var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d087b);
    text-align: left;
    font: normal normal 600 20px/32px Manrope;
    letter-spacing: 0px;
    color: #3D087B;
    text-transform: uppercase;
    opacity: 1;
    z-index:1;
}
.hours-box{
    

    position: relative;
    left: 80px;
    bottom: 43px;
    width: 80px;
    height: 90px;

    background: transparent url('timeline.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}
.clock-text{
    width: 40px;
    height: 43px;
    position: relative;
    left: 20px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-8a11bf);
    text-align: left;
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #8A11BF;
    opacity: 1;

}

.sub-text{
    width: 46px;
    height: 26px;
    position: relative;
    left: 23px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 22px/26px var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5f0089);
    text-align: left;
    font: normal normal normal 22px/26px Barlow;
    letter-spacing: 0px;
    color: #5F0089;
    opacity: 1;
}

.minutes-box{
    position: relative;
    left: 175px;
    bottom: 133px;
    width: 80px;
    height: 90px;

    background: transparent url('timeline.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

.seconds-box{
    position: relative;
    left: 270px;
    bottom: 223px;
    width: 80px;
    height: 90px;

    background: transparent url('timeline.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

.am-pm-box{
    position: relative;
    left: 375px;
    bottom: 313px;
    width: 80px;
    height: 90px;

    background: transparent url('AM_svg.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

.am-pm-text{
    width: 47px;
    height: 43px;
    position: relative;
    top: 20px;
    left: 10px;
    
    /* UI Properties */
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 36px/43px Barlow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
/*1st box behind clock div*/
.box1{
    position: absolute;
    top: 55px;
    left: 766px;
    width: 416px;
    height: 130px;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.71;
}

/*2nd box behind clock div*/
.box2{
    position: absolute;
    top: 67px;
    left: 785px;
    width: 379px;
    height: 130px;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
}
.right-message{

    /* Layout Properties */
    position: absolute;
    top: 212px;
    left: 706px;
    width: 536px;
    height: 118px;

    /* UI Properties */

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}
.right-message-text{
    padding: 10px;
    width: 457px;
    height: 78px;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-30)/40px var(--unnamed-font-family-bauhaus-hv-bt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-8e53f0);
    text-align: left;
    font: normal normal 900 30px/40px Bauhaus Hv BT;
    letter-spacing: 0px;
    color: #8E53F0;
    text-transform: uppercase;
    opacity: 1;

}
.right-image{
    /* Layout Properties */

    position: absolute;
    top: 345px;
    left: 707px;
    width: 536px;
    height: 341px;
    border: 1px red solid;
    /* UI Properties */

    background: transparent url('lunch.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
/*top right instruction message callout*/
.instruct-msg{
    position: absolute;
    top: 23px;
    left: 474px;
    width: 209px;
    height: 78px;



    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #00000029;
    opacity: 1;
}
/*Text insisde the instruction msg*/
.instruct-text{
    
    position: absolute;
    top: 20px;
    left: 20px;
    width: 166px;
    height: 57px;



    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/20px Inter;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/20px Inter;
    letter-spacing: 0px;
    color: #858585;
    opacity: 1;
}
.time-summary{
    position: absolute;
    top: 615px;
    left: 437px;
    width: 253px;
    height: 117px;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 0.23;
}
.time-summary-text{
    position: relative;
    left: 10px;
    width: 200px;
    height: 94px;



    font: var(--unnamed-font-style-normal) normal bold 15px/25px var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 15px/25px Manrope;
    letter-spacing: 0px;
    color: #F25CFE;
    opacity: 1;

}

